https://pandas.pydata.org/pandas-docs/stable/user_guide/groupby.html

```python
DataFrame.groupby(
    by=None,                # bymapping, function, label, or list of labels
    axis=0,                 # axis{0 or ‘index’, 1 or ‘columns’}, default 0
    level=None,             # level: int, level name, or sequence of such, default None
    as_index=True,          # as_index: bool, default True
    sort=True,              # sort: bool, default True
    group_keys=True,        # group_keys: bool, default True
    observed=False,         # observed: bool, default False
    dropna=True,            # dropna: bool, default True
)
```
Return DataFrameGroupBy object

In [4]:
import seaborn as sns
import pandas as pd

In [2]:
iris = sns.load_dataset("iris")

In [5]:
df = iris
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [24]:
grouped = df.groupby('species')

In [ ]:
grouped = df.groupby('order', axis='columns')

In [ ]:
grouped = df.groupby(['class', 'order'])

In [22]:
gb = df.groupby(by=['species'])
print(type(gb))
gb

<class 'pandas.core.groupby.generic.DataFrameGroupBy'>

In [23]:
print(gb.ndim)
print(gb.dtypes)
print(gb.mean())

2
           sepal_length sepal_width petal_length petal_width
species
setosa          float64     float64      float64     float64
versicolor      float64     float64      float64     float64
virginica       float64     float64      float64     float64
            sepal_length  sepal_width  petal_length  petal_width
species
setosa             5.006        3.428         1.462        0.246
versicolor         5.936        2.770         4.260        1.326
virginica          6.588        2.974         5.552        2.026

In [18]:
df.groupby(level=0).mean()

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

ValueError: level name sepal_length is not the name of the index